<div class="col-lg-8 col-md-7 offset-md-2">
    <h1>Publicaciones</h1>
</div>
<div class="col-md-8 offset-md-2">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-3" type="text" placeholder="Buscar">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <br>
</div>


<div class="row">
    <div class="col-md-8 offset-md-2">

        <div *ngFor="let fac of variable"> 
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Usuario</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Catedratico</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Curso</h6>
                  <p class="card-text">Mensaje</p>
                  <h6 class="card-subtitle mb-2 text-muted">Fecha</h6>
                  <a href="" class="card-link btn btn-primary btn-sm">Ver Comentarios</a>
                  <a href="" class="card-link btn btn-primary btn-sm">Ver Perfil</a>
                  <a href="" class="card-link btn btn-primary btn-sm">Dejar Comentario</a>
                </div>
              </div>
              <br>
        </div>

    </div>
</div>


