<app-home-navbar></app-home-navbar>

<div class="col-lg-8 col-md-7 offset-md-2">
    <h1>Publicaciones</h1>
</div>
<div class="col-md-8 offset-md-2">
    
</div>


<div class="row">
    <div class="col-md-8 offset-md-2">

        <div *ngFor="let fac of publicaciones"> 
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Usuario: {{fac.usuario}}</h4>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: small;">Catedratico: {{fac.catNombre}} {{fac.catApellid}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: small;">Curso: {{fac.codCurso}} {{fac.Curso}}</h6>
                  <div class="mb-3 col-md-10 offset-md-1">
                    <p class="card-text" style="font-size: large;">{{fac.msj}}</p>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">Publicado: {{fac.fecha}} </h6>
                  <a href="/components/ver-comentarios/{{fac.id}}" class="card-link btn btn-primary btn-sm">Ver Comentarios</a>
                  <a href="/components/ver-comentarios/{{fac.id}}" class="card-link btn btn-primary btn-sm">Ver Perfil</a>
                  <a href="/components/crear-comentario/{{fac.id}}" class="card-link btn btn-primary btn-sm">Dejar Comentario</a>
                </div>
              </div>
              <br>
        </div>

    </div>
</div>


