<app-home-navbar></app-home-navbar>

<div class="col-lg-8 col-md-7 offset-md-2">
    <h1>Publicaciones</h1>
</div>
<div class="col-md-8 offset-md-2">
    
</div>


<div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="col-lg-10 col-md-5">
        <h4>Filtrar</h4>
        <div class="custom-control custom-radio">
            <input type="radio" id="tipoCurso" name="customRadio" class="custom-control-input" (click)="mostrarCursos()">
            <label class="custom-control-label" for="tipoCurso">Por curso</label>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="tipoCatedratico" name="customRadio" class="custom-control-input" (click)="mostrarCatedraticos()">
            <label class="custom-control-label" for="tipoCatedratico">Por catedratico</label>
        </div>

        <div class="custom-control custom-radio">
          <input type="radio" id="tipoCatedraticoCurso" name="customRadio" class="custom-control-input" (click)="mostrarCursoCatedraticos()">
          <label class="custom-control-label" for="tipoCatedraticoCurso">Por catedratico de un Curso</label>
      </div>

    </div>

    <div class="col-lg-9 col-md-3">
      <div class="form-group">
          <select  #selectList class="custom-select" [(ngModel)]="selectedOption" (change)="filtro(selectList.value)">
            <option value="-1" >Todos</option>
              <option *ngFor="let curso of cursos"
                  [value]="curso.Codigo">
                  {{curso.Codigo}} - {{curso.Nombre}}
              </option>
              <option *ngFor="let cat of catedraticos" 
                  [value]="cat.id">
                {{cat.Nombres}} {{cat.Apellidos}}
              </option>
              <option *ngFor="let fuc of cursoCatedratico" 
              [value]="fuc.Correlativo">
              {{fuc.Codigo}} {{fuc.Nombre}}  —— {{fuc.Nombres}} {{fuc.Apellidos}}
          </option>
          </select>
      </div>
  </div>

        <div *ngFor="let fac of publicaciones"> 
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Usuario: {{fac.usuario}}</h4>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: small;">Catedratico: {{fac.catNombre}} {{fac.catApellid}}</h6>
                  <h6 class="card-subtitle mb-2 text-muted" style="font-size: small;">Curso: {{fac.codCurso}} {{fac.Curso}}</h6>
                  <div class="mb-3 col-md-10 offset-md-1">
                    <p class="card-text" style="font-size: large;">{{fac.msj}}</p>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">Publicado: {{fac.fecha}} </h6>
                  <a href="/components/ver-comentarios/{{fac.id}}" class="card-link btn btn-primary btn-sm">Ver Comentarios</a>
                  <a href="/components/Ver-Perfil/{{fac.usuario}}" class="card-link btn btn-primary btn-sm">Ver Perfil</a>
                  <a href="/components/crear-comentario/{{fac.id}}" class="card-link btn btn-primary btn-sm">Dejar Comentario</a>
                </div>
              </div>
              <br>
        </div>

    </div>
</div>


