<app-inicio-navbar></app-inicio-navbar>

<div class="row">
    <div class="col-md-4 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h2 class="login-header">LOGIN</h2>
                <form #frmLogin="ngForm" (ngSubmit)="onLogin(frmLogin)">
                    <div class="form-group">
                        <input name = "usuario" placeholder="CARNE" type="text" ngModel class="form-control" autofocus required>
                    </div>
                    <div class="form-group">
                        <input name = "contrasenia" placeholder="PASSWORD" type="password" class="form-control" ngModel required>
                    </div>
                    <button class="btn btn-success btn-block" type="submit">
                        Success
                    </button>
                    <a href="/components/verificar-email">¿Olvido su contraseña?</a>
                </form>
            </div>
        </div>
    </div>
</div>